In [1]:
import numpy as np
import pandas as pd

In [6]:
params = ['age', 'sex', 'chestpaintype', 'restingbp', 'cholesterol',
              'fastingbs', 'restingecg', 'maxhr', 'exerciseangina', 'oldpeak',
              'stslope']

val = [1 for _ in range(11)]

pd.DataFrame(data=np.reshape(val, (1, 11)), columns=params)

,age,sex,chestpaintype,restingbp,cholesterol,fastingbs,restingecg,maxhr,exerciseangina,oldpeak,stslope
0,1,1,1,1,1,1,1,1,1,1,1

In [12]:
data = np.empty((1, len(params)))
data

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])